/* Resets */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (orientation: landscape), only screen and (orientation: portrait) {
  .container {
    padding-left: 16px;
    padding-right: 16px; } }
@media only screen and (min-width: 992px), only screen and (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px; } }

.left {
  float: left; }

.right {
  float: right; }

/* Variables */
h1, .font-display-4 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 112px;
  line-height: 128px;
  font-weight: 300;
  letter-spacing: -7px;
  color: rgba(0, 0, 0, 0.54); }

h2, .font-display-3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: -2px;
  color: rgba(0, 0, 0, 0.54); }

h3, .font-display-2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.54); }

h4, .font-display-1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.54); }

h5, .font-headline {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  color: black; }

title, .font-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0;
  color: black; }

.font-subhead {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  color: black; }
  @media only screen and (min-width: 992px) {
    .font-subhead {
      font-size: 15px; } }

.font-setting-subhead {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0;
  color: #00b0ff; }
  @media only screen and (min-width: 992px) {
    .font-setting-subhead {
      font-size: 13px; } }

span, .font-body-2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0;
  color: black; }
  @media only screen and (min-width: 992px) {
    span, .font-body-2 {
      font-size: 13px; } }

p, .font-body-1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: black; }
  @media only screen and (min-width: 992px) {
    p, .font-body-1 {
      font-size: 13px; } }

.font-caption {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54); }

.font-setting-value-label {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54); }

.font-caption-medium {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54); }

.font-nav-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  letter-spacing: 0; }

.font-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  letter-spacing: 0;
  text-transform: uppercase; }

/* Make elements not selectable by default to avoid annoying highlighting issues */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Effects */
.ripple {
  display: block;
  position: absolute;
  background-color: #c5cae9;
  pointer-events: none;
  opacity: 0.7;
  width: 0;
  height: 0;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

/* Components */
.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.app-bar {
  background-color: #3f51b5;
  display: block;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: 10000;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
  .app-bar label {
    color: #ffffff; }
  @media only screen and (orientation: portrait) {
    .app-bar {
      height: 56px;
      line-height: 56px; }
      .app-bar label {
        line-height: 56px; } }
  @media only screen and (orientation: landscape) {
    .app-bar {
      height: 48px;
      line-height: 48px; }
      .app-bar label {
        line-height: 48px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .app-bar {
      height: 64px;
      line-height: 64px; }
      .app-bar label {
        line-height: 64px; } }
  @media only screen and (orientation: portrait) {
    .app-bar .button {
      top: 4px; } }
  @media only screen and (orientation: landscape) {
    .app-bar .button {
      top: 0; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .app-bar .button {
      top: 8px; } }
  .app-bar .icon-button {
    left: -16px; }

.icon-menu {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path d="M3 18h18v-2h-18v2zm0-5h18v-2h-18v2zm0-7v2h18v-2h-18z" fill="#ffffff"/></svg>') no-repeat 0 0/24px 24px; }

.icon-home {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3l-10-9-10 9h3v8z" fill="#616161"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-info-outline {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path d="M11 17h2v-6h-2v6zm1-15c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-11h2v-2h-2v2z" fill="#616161"/></svg>') no-repeat 0 0/24px 24px; }

.icon-search {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27c.98-1.14 1.57-2.62 1.57-4.23 0-3.59-2.91-6.5-6.5-6.5s-6.5 2.91-6.5 6.5 2.91 6.5 6.5 6.5c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99 1.49-1.49-4.99-5zm-6 0c-2.49 0-4.5-2.01-4.5-4.5s2.01-4.5 4.5-4.5 4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5z" fill="#616161"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-search.light {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27c.98-1.14 1.57-2.62 1.57-4.23 0-3.59-2.91-6.5-6.5-6.5s-6.5 2.91-6.5 6.5 2.91 6.5 6.5 6.5c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99 1.49-1.49-4.99-5zm-6 0c-2.49 0-4.5-2.01-4.5-4.5s2.01-4.5 4.5-4.5 4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5z" fill="#ffffff"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-settings {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43 2.52c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" fill="#616161"/></svg>') no-repeat 0 0/24px 24px; }

.icon-github {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" fill="#616161" d="M11.999,2.468c-5.397,0-9.773,4.376-9.773,9.774 c0,4.318,2.8,7.981,6.684,9.274c0.489,0.09,0.667-0.212,0.667-0.471c0-0.232-0.008-0.847-0.013-1.662 c-2.719,0.591-3.292-1.31-3.292-1.31c-0.444-1.129-1.085-1.43-1.085-1.43c-0.887-0.606,0.067-0.594,0.067-0.594 c0.981,0.069,1.497,1.007,1.497,1.007c0.872,1.494,2.288,1.062,2.844,0.812c0.089-0.632,0.341-1.062,0.621-1.307 c-2.17-0.247-4.452-1.085-4.452-4.83c0-1.067,0.381-1.939,1.006-2.623C6.67,8.86,6.334,7.867,6.866,6.521 c0,0,0.821-0.263,2.688,1.002c0.78-0.217,1.616-0.325,2.447-0.329c0.83,0.004,1.666,0.112,2.447,0.329 c1.866-1.265,2.685-1.002,2.685-1.002c0.533,1.346,0.198,2.339,0.097,2.587c0.626,0.683,1.005,1.556,1.005,2.623 c0,3.755-2.285,4.581-4.463,4.823c0.351,0.302,0.664,0.898,0.664,1.81c0,1.307-0.012,2.361-0.012,2.681 c0,0.261,0.176,0.565,0.672,0.47c3.88-1.295,6.678-4.956,6.678-9.273C21.774,6.843,17.397,2.468,11.999,2.468z"/></svg>') no-repeat 0 0/24px 24px; }

.icon-link {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path fill="#ffffff" d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4v-1.9h-4c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9h-4c-1.71 0-3.1-1.39-3.1-3.1zm4.1 1h8v-2h-8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4v1.9h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>') no-repeat 0 0/24px 24px; }

.icon-screenshot {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="3.2" fill="#ffffff"/><path fill="#ffffff" d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-settings-light {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43 2.52c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" fill="#ffffff"/></svg>') no-repeat 0 0/24px 24px; }

.icon-map {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none" /><path d="M18 4h-12v2l6.5 6-6.5 6v2h12v-3h-7l5-5-5-5h7z" fill="#ffffff"/></svg>') no-repeat 0 0/24px 24px; }

.icon-rng {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="none" d="M0,0h24v24H0V0z" /><path fill="#ffffff" d="M18,4H6C4.9,4,4,4.9,4,6v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V6C20,4.9,19.1,4,18,4z M18,18H6V6h12V18z"/><circle fill="#ffffff" stroke="#ffffff" stroke-miterlimit="10" cx="8.792" cy="8.792" r="0.792"/><circle fill="#ffffff" stroke="#ffffff" stroke-miterlimit="10" cx="12" cy="12" r="0.792"/><circle fill="#ffffff" stroke="#ffffff" stroke-miterlimit="10" cx="15.208" cy="15.208" r="0.792"/></svg>') no-repeat 0 0/24px 24px; }

.icon-search-criteria {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M3 13h2v-2h-2v2zm0 4h2v-2h-2v2zm0-8h2v-2h-2v2zm4 4h14v-2h-14v2zm0 4h14v-2h-14v2zm0-10v2h14v-2h-14z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-renderer {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path fill="#ffffff" d="M21 19v-14c0-1.1-.9-2-2-2h-14c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zm-12.5-5.5l2.5 3.01 3.5-4.51 4.5 6h-14l3.5-4.5z"/></svg>') no-repeat 0 0/24px 24px; }

.icon-colorizer {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5h1.77c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3-4c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm5 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3 4c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-back {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z" fill="none"/><path fill="#ffffff" d="M20 11h-12.17l5.59-5.59-1.42-1.41-8 8 8 8 1.41-1.41-5.58-5.59h12.17v-2z"/></svg>') no-repeat 0 0/24px 24px; }

.icon-checked {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#40c4ff"/></svg>') no-repeat 0 0/24px 24px; }

.icon-unchecked {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" fill="#616161"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-checked-disabled {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#9e9e9e"/></svg>') no-repeat 0 0/24px 24px; }

.icon-unchecked-disabled {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" fill="#9e9e9e"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-expand-more {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z" fill="#9e9e9e"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon-expand-less {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 8l-6 6 1.41 1.41 4.59-4.58 4.59 4.58 1.41-1.41z" fill="#9e9e9e"/><path d="M0 0h24v24h-24z" fill="none"/></svg>') no-repeat 0 0/24px 24px; }

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.button-spacing {
  display: inline-block;
  position: relative; }
  .button-spacing .button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .button-spacing .button * {
      cursor: pointer; }
    .button-spacing .button.raised {
      box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
      transition: box-shadow 0.1s linear;
      -o-transition: box-shadow 0.1s linear;
      -moz-transition: box-shadow 0.1s linear;
      -webkit-transition: box-shadow 0.1s linear; }
      .button-spacing .button.raised:active {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
    .button-spacing .button .overlay {
      transition: background-color 0.1s linear;
      -o-transition: background-color 0.1s linear;
      -moz-transition: background-color 0.1s linear;
      -webkit-transition: background-color 0.1s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 9999; }
      .button-spacing .button .overlay.flat:focus, .button-spacing .button .overlay.flat:hover {
        background-color: rgba(0, 0, 0, 0.15); }
      .button-spacing .button .overlay.flat:active {
        background-color: rgba(0, 0, 0, 0.3); }
      .button-spacing .button .overlay.raised:active {
        background-color: rgba(0, 0, 0, 0.15); }

.icon-button {
  height: 48px; }
  .icon-button.label .button {
    min-width: 64px; }
  .icon-button .button {
    background-color: #3f51b5;
    padding: 0 8px;
    margin: 6px 4px;
    height: 36px; }
    .icon-button .button .icon {
      margin-top: 6px;
      margin-bottom: 6px; }
    .icon-button .button label {
      height: 36px;
      display: inline-block;
      float: left;
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 12px; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.nav-drawer {
  display: inline-block;
  background-color: #ffffff;
  position: fixed;
  height: 100vh;
  width: 90vw;
  z-index: 10001;
  overflow-y: auto;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  /* Prevent animation on initial load */ }
  @media only screen and (orientation: portrait) {
    .nav-drawer {
      width: calc(100vw - 56px);
      max-width: 280px; } }
  @media only screen and (orientation: landscape) {
    .nav-drawer {
      width: calc(100vw - 48px);
      max-width: 240px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .nav-drawer {
      width: calc(100vw - 64px);
      max-width: 320px; } }
  .nav-drawer.preload {
    animation: none !important;
    -o-animation: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important; }
  .nav-drawer.hidden {
    left: -320px;
    animation: hide-animation 0.2s;
    -o-animation: hide-animation 0.2s;
    -moz-animation: hide-animation 0.2s;
    -webkit-animation: hide-animation 0.2s; }
  .nav-drawer:not(.hidden) {
    left: 0;
    animation: show-animation 0.2s;
    -o-animation: show-animation 0.2s;
    -moz-animation: show-animation 0.2s;
    -webkit-animation: show-animation 0.2s; }

@keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }

  1% {
    opacity: 1; }

  100% {
    left: 0; } }

@-o-keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }

  1% {
    opacity: 1; }

  100% {
    left: 0; } }

@-moz-keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }

  1% {
    opacity: 1; }

  100% {
    left: 0; } }

@-webkit-keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }

  1% {
    opacity: 1; }

  100% {
    left: 0; } }

@keyframes hide-animation {
  0% {
    left: 0; }

  99% {
    opacity: 1; }

  100% {
    opacity: 0;
    left: -320px; } }

@-o-keyframes hide-animation {
  0% {
    left: 0; }

  99% {
    opacity: 1; }

  100% {
    opacity: 0;
    left: -320px; } }

@-moz-keyframes hide-animation {
  0% {
    left: 0; }

  99% {
    opacity: 1; }

  100% {
    opacity: 0;
    left: -320px; } }

@-webkit-keyframes hide-animation {
  0% {
    left: 0; }

  99% {
    opacity: 1; }

  100% {
    opacity: 0;
    left: -320px; } }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.nav-drawer-button {
  background-color: #ffffff;
  display: block;
  position: relative;
  height: 48px;
  overflow: hidden;
  cursor: pointer; }
  .nav-drawer-button * {
    cursor: pointer; }
  .nav-drawer-button .button {
    background-color: #ffffff;
    position: relative;
    display: block;
    padding: 0 8px;
    margin: 6px 4px;
    height: 36px;
    line-height: 36px;
    border: 0 none;
    outline: 0; }
    .nav-drawer-button .button .icon {
      margin-top: 6px;
      margin-bottom: 6px;
      display: inline-block;
      float: left; }
    .nav-drawer-button .button label {
      line-height: 36px;
      height: 36px;
      display: inline-block;
      color: #000000;
      float: left;
      margin-left: 32px; }
      .nav-drawer-button .button label.font-active-route {
        color: #40c4ff; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.nav-drawer-divider {
  position: relative;
  display: block;
  background-color: #e0e0e0;
  border: 0 none;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px; }

.app-contents {
  position: relative;
  background-color: #e0e0e0;
  height: 100vh; }
  @media only screen and (orientation: portrait) {
    .app-contents {
      margin-top: 56px; } }
  @media only screen and (orientation: landscape) {
    .app-contents {
      margin-top: 48px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .app-contents {
      margin-top: 64px; } }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.paper {
  background-color: #ffffff;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  padding: 16px; }

.floating-action-button .button {
  position: relative;
  background-color: #40c4ff;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 16px; }
.floating-action-button .overlay {
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
.floating-action-button.mini .button {
  width: 40px;
  height: 40px;
  padding: 8px;
  line-height: 40px; }

.viewport {
  height: 100vh;
  background-color: #e0e0e0; }
  .viewport canvas {
    background-color: #e0e0e0; }
  .viewport .search-progress-container {
    width: 128px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -64px; }
    .viewport .search-progress-container.hidden {
      display: none; }
    .viewport .search-progress-container label {
      text-align: center;
      display: block;
      color: rgba(255, 255, 255, 0.87);
      padding: 0; }
    .viewport .search-progress-container img {
      width: 128px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

.modal {
  position: fixed;
  z-index: 10002; }
  .modal .modal-background {
    position: fixed;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.settings-dialog {
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }
  .settings-dialog .settings-contents {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 72px; }
  @media only screen and (orientation: portrait), only screen and (orientation: landscape) {
    .settings-dialog {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh; }
      .settings-dialog .app-bar {
        display: block;
        position: relative; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .settings-dialog {
      width: 320px;
      height: 400px;
      left: 50%;
      top: 50%;
      margin-left: -160px;
      margin-top: -200px; }
      .settings-dialog .app-bar {
        display: none; } }

.settings-header {
  display: block;
  margin: 16px; }

.settings-choice {
  display: block; }
  .settings-choice .button {
    display: block;
    padding: 16px; }
  .settings-choice label {
    display: block; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.choice-picker {
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  width: 300px;
  height: 360px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -180px; }
  .choice-picker .choice-button {
    display: block; }
    .choice-picker .choice-button .button {
      display: block;
      padding: 16px; }
    .choice-picker .choice-button label {
      display: block; }
  .choice-picker .selected {
    background-color: rgba(0, 0, 0, 0.12); }
    .choice-picker .selected label {
      font-weight: bold; }

.component-toggle .header {
  position: relative;
  display: block;
  height: 36px; }
  .component-toggle .header .button-spacing {
    display: block;
    z-index: 1; }
    .component-toggle .header .button-spacing .button {
      display: block;
      padding-left: 16px;
      padding-right: 16px;
      height: 36px; }
      .component-toggle .header .button-spacing .button .icon {
        position: relative;
        display: inline-block;
        margin-top: 6px;
        float: left; }
      .component-toggle .header .button-spacing .button label {
        position: relative;
        display: inline-block;
        line-height: 36px;
        float: left; }
  .component-toggle .header .toggle {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 0;
    z-index: 2; }

.number-value-editor {
  margin-top: 16px; }
  .number-value-editor label {
    margin-left: 16px; }
  .number-value-editor .icon-slider {
    position: relative;
    display: block; }
    .number-value-editor .icon-slider .icon {
      position: absolute;
      top: 6px;
      left: 16px; }
    .number-value-editor .icon-slider .slider {
      margin-left: 40px; }

.slider {
  position: relative;
  display: block;
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 17px; }
  .slider .slider-track {
    background-color: #e0e0e0;
    position: relative;
    display: block;
    height: 2px; }
    .slider .slider-track .slider-track-filled {
      background-color: #3f51b5;
      position: absolute;
      display: inline-block;
      height: 2px;
      width: 50%; }
  .slider .slider-thumb {
    position: absolute;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-left: -18px;
    left: 50%;
    margin-top: -17px; }
    .slider .slider-thumb .slider-outer-thumb {
      background-color: rgba(0, 0, 0, 0.13);
      position: absolute;
      display: block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      transform: scale(0.333);
      -o-transform: scale(0.333);
      -ms-transform: scale(0.333);
      -moz-transform: scale(0.333);
      -webkit-transform: scale(0.333); }
    .slider .slider-thumb .slider-inner-thumb {
      background-color: #3f51b5;
      position: absolute;
      display: block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      transform: scale(0.333);
      -o-transform: scale(0.333);
      -ms-transform: scale(0.333);
      -moz-transform: scale(0.333);
      -webkit-transform: scale(0.333); }
  .slider.enabled:focus .slider-track {
    background-color: #9e9e9e; }
  .slider.enabled:focus .slider-outer-thumb {
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1); }
  .slider.enabled:focus .slider-inner-thumb {
    transform: scale(0.333);
    -o-transform: scale(0.333);
    -ms-transform: scale(0.333);
    -moz-transform: scale(0.333);
    -webkit-transform: scale(0.333); }
  .slider.enabled:active .slider-track {
    background-color: #9e9e9e; }
  .slider.enabled:active .slider-outer-thumb {
    transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5); }
  .slider.enabled:active .slider-inner-thumb {
    transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5); }
  .slider.disabled .slider-track-filled {
    background-color: #e0e0e0; }
  .slider.disabled .slider-outer-thumb {
    background-color: #ffffff;
    transform: scale(0.333);
    -o-transform: scale(0.333);
    -ms-transform: scale(0.333);
    -moz-transform: scale(0.333);
    -webkit-transform: scale(0.333); }
  .slider.disabled .slider-inner-thumb {
    background-color: #e0e0e0;
    transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -webkit-transform: scale(0.2); }

.toggle-button .button {
  overflow: visible; }

.toggle {
  position: relative;
  display: inline-block; }
  .toggle .button {
    height: 36px;
    width: 52px;
    overflow: visible; }
    .toggle .button .track {
      display: inline-block;
      position: absolute;
      background-color: #9e9e9e;
      height: 16px;
      width: 36px;
      left: 8px;
      top: 10px;
      border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear; }
      .toggle .button .track.toggled {
        background-color: #80d8ff; }
    .toggle .button .thumb {
      display: inline-block;
      position: absolute;
      height: 24px;
      width: 24px;
      padding: 0;
      left: 4px;
      top: 6px;
      border-radius: 12px;
      -o-border-radius: 12px;
      -ms-border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear; }
      .toggle .button .thumb.toggled {
        background-color: #40c4ff;
        left: 24px; }

/* Pages */
.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.contents-paper {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  transition: 0.1s;
  -o-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s; }
  @media only screen and (orientation: portrait) {
    .contents-paper {
      width: 100vw; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px), only screen and (orientation: landscape) {
    .contents-paper {
      width: 70vw; } }

.bottom-paper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin-bottom: -104px;
  padding-right: 64px;
  height: 32px;
  line-height: 32px;
  transition: margin-bottom 0.25s;
  -o-transition: margin-bottom 0.25s;
  -moz-transition: margin-bottom 0.25s;
  -webkit-transition: margin-bottom 0.25s; }
  .bottom-paper.translate {
    margin-bottom: 0; }
  .bottom-paper .mini-button {
    float: right;
    margin-right: 8px;
    top: -40px; }

.intro-paper {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; }
  .intro-paper.hidden {
    display: none; }
  .intro-paper.fade-out {
    opacity: 0; }

.search-button {
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin-bottom: -88px;
  margin-right: -32px; }
  .search-button.animated {
    transition: right 0.5s, bottom 0.5s, margin-right 0.5s, margin-bottom 0.5s;
    -o-transition: right 0.5s, bottom 0.5s, margin-right 0.5s, margin-bottom 0.5s;
    -moz-transition: right 0.5s, bottom 0.5s, margin-right 0.5s, margin-bottom 0.5s;
    -webkit-transition: right 0.5s, bottom 0.5s, margin-right 0.5s, margin-bottom 0.5s; }
  .search-button.translate {
    right: 0;
    bottom: 0;
    margin-bottom: 72px;
    margin-right: 8px; }
  .search-button .cancel {
    background-color: #ff1744; }

.settings-buttons-tray {
  position: absolute;
  width: 40px;
  right: 72px;
  margin-bottom: 0;
  margin-right: 0;
  bottom: 72px;
  transition: height 0.5s;
  -o-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -webkit-transition: height 0.5s; }
  .settings-buttons-tray.open {
    height: 264px; }
    .settings-buttons-tray.open .floating-action-button {
      margin-bottom: 0;
      opacity: 1; }
  .settings-buttons-tray.closed {
    height: 40px; }
    .settings-buttons-tray.closed .floating-action-button {
      margin-bottom: -44px;
      opacity: 0; }
  .settings-buttons-tray .floating-action-button {
    display: block;
    transition: margin-bottom 0.5s, opacity 0.5s;
    -o-transition: margin-bottom 0.5s, opacity 0.5s;
    -moz-transition: margin-bottom 0.5s, opacity 0.5s;
    -webkit-transition: margin-bottom 0.5s, opacity 0.5s; }

@media only screen and (orientation: portrait) {
  .viewport {
    margin-top: 56px; } }
@media only screen and (orientation: landscape) {
  .viewport {
    margin-top: 48px; } }
@media only screen and (min-width: 992px), only screen and (min-width: 768px) {
  .viewport {
    margin-top: 64px; } }
