/* Resets */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (orientation: landscape), only screen and (orientation: portrait) {
  .container {
    padding-left: 16px;
    padding-right: 16px; } }

@media only screen and (min-width: 992px), only screen and (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px; } }

.left {
  float: left; }

.right {
  float: right; }

.inline {
  display: inline-block; }

/* Variables */
h1, .font-display-4 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 112px;
  line-height: 128px;
  font-weight: 300;
  letter-spacing: -7px;
  color: rgba(0, 0, 0, 0.54); }

h2, .font-display-3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: -2px;
  color: rgba(0, 0, 0, 0.54); }

h3, .font-display-2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.54); }

h4, .font-display-1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.54); }

h5, .font-headline {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  color: black; }

title, .font-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0;
  color: black; }

h6, .font-subhead {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  color: black; }
  @media only screen and (min-width: 992px) {
    h6, .font-subhead {
      font-size: 15px; } }

.font-setting-subhead {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0;
  color: #00b0ff; }
  @media only screen and (min-width: 992px) {
    .font-setting-subhead {
      font-size: 13px; } }

span, .font-body-2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0;
  color: black; }
  @media only screen and (min-width: 992px) {
    span, .font-body-2 {
      font-size: 13px; } }

p, .font-body-1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: black; }
  @media only screen and (min-width: 992px) {
    p, .font-body-1 {
      font-size: 13px; } }

.font-caption {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54); }

.font-setting-value-label {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54); }

.font-caption-medium {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54);
  line-height: 12px; }

.font-nav-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  letter-spacing: 0; }

.font-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  letter-spacing: 0;
  text-transform: uppercase; }

/* Make elements not selectable by default to avoid annoying highlighting issues */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

sub {
  vertical-align: sub;
  font-size: smaller; }

/* Effects */
.ripple {
  display: block;
  position: absolute;
  background-color: #c5cae9;
  pointer-events: none;
  opacity: 0.7;
  width: 0;
  height: 0;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

/* Components */
.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.app-bar {
  background-color: #3f51b5;
  display: block;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: 10000;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
  .app-bar label {
    color: #ffffff; }
  @media only screen and (orientation: portrait) {
    .app-bar {
      height: 56px;
      line-height: 56px; }
      .app-bar label {
        line-height: 56px; } }
  @media only screen and (orientation: landscape) {
    .app-bar {
      height: 48px;
      line-height: 48px; }
      .app-bar label {
        line-height: 48px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .app-bar {
      height: 64px;
      line-height: 64px; }
      .app-bar label {
        line-height: 64px; } }
  @media only screen and (orientation: portrait) {
    .app-bar .button {
      top: 4px; } }
  @media only screen and (orientation: landscape) {
    .app-bar .button {
      top: 0; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .app-bar .button {
      top: 8px; } }
  .app-bar .icon-button {
    left: -16px; }

.icon-menu {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M3%2018h18v-2h-18v2zm0-5h18v-2h-18v2zm0-7v2h18v-2h-18z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-home {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M10%2020v-6h4v6h5v-8h3l-10-9-10%209h3v8z%22%20fill%3D%22%23616161%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-info-outline {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M11%2017h2v-6h-2v6zm1-15c-5.52%200-10%204.48-10%2010s4.48%2010%2010%2010%2010-4.48%2010-10-4.48-10-10-10zm0%2018c-4.41%200-8-3.59-8-8s3.59-8%208-8%208%203.59%208%208-3.59%208-8%208zm-1-11h2v-2h-2v2z%22%20fill%3D%22%23616161%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-search {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27c.98-1.14%201.57-2.62%201.57-4.23%200-3.59-2.91-6.5-6.5-6.5s-6.5%202.91-6.5%206.5%202.91%206.5%206.5%206.5c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99%201.49-1.49-4.99-5zm-6%200c-2.49%200-4.5-2.01-4.5-4.5s2.01-4.5%204.5-4.5%204.5%202.01%204.5%204.5-2.01%204.5-4.5%204.5z%22%20fill%3D%22%23616161%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-search-light {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27c.98-1.14%201.57-2.62%201.57-4.23%200-3.59-2.91-6.5-6.5-6.5s-6.5%202.91-6.5%206.5%202.91%206.5%206.5%206.5c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99%201.49-1.49-4.99-5zm-6%200c-2.49%200-4.5-2.01-4.5-4.5s2.01-4.5%204.5-4.5%204.5%202.01%204.5%204.5-2.01%204.5-4.5%204.5z%22%20fill%3D%22%23ffffff%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-settings {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19.43%2012.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49%201c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25%200-.46.18-.49.42l-.38%202.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49%200-.61.22l-2%203.46c-.13.22-.07.49.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65c-.19.15-.24.42-.12.64l2%203.46c.12.22.39.3.61.22l2.49-1c.52.4%201.08.73%201.69.98l.38%202.65c.03.24.24.42.49.42h4c.25%200%20.46-.18.49-.42l.38-2.65c.61-.25%201.17-.59%201.69-.98l2.49%201c.23.09.49%200%20.61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43%202.52c-1.93%200-3.5-1.57-3.5-3.5s1.57-3.5%203.5-3.5%203.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z%22%20fill%3D%22%23616161%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-github {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23616161%22%20d%3D%22M11.999%2C2.468c-5.397%2C0-9.773%2C4.376-9.773%2C9.774%20c0%2C4.318%2C2.8%2C7.981%2C6.684%2C9.274c0.489%2C0.09%2C0.667-0.212%2C0.667-0.471c0-0.232-0.008-0.847-0.013-1.662%20c-2.719%2C0.591-3.292-1.31-3.292-1.31c-0.444-1.129-1.085-1.43-1.085-1.43c-0.887-0.606%2C0.067-0.594%2C0.067-0.594%20c0.981%2C0.069%2C1.497%2C1.007%2C1.497%2C1.007c0.872%2C1.494%2C2.288%2C1.062%2C2.844%2C0.812c0.089-0.632%2C0.341-1.062%2C0.621-1.307%20c-2.17-0.247-4.452-1.085-4.452-4.83c0-1.067%2C0.381-1.939%2C1.006-2.623C6.67%2C8.86%2C6.334%2C7.867%2C6.866%2C6.521%20c0%2C0%2C0.821-0.263%2C2.688%2C1.002c0.78-0.217%2C1.616-0.325%2C2.447-0.329c0.83%2C0.004%2C1.666%2C0.112%2C2.447%2C0.329%20c1.866-1.265%2C2.685-1.002%2C2.685-1.002c0.533%2C1.346%2C0.198%2C2.339%2C0.097%2C2.587c0.626%2C0.683%2C1.005%2C1.556%2C1.005%2C2.623%20c0%2C3.755-2.285%2C4.581-4.463%2C4.823c0.351%2C0.302%2C0.664%2C0.898%2C0.664%2C1.81c0%2C1.307-0.012%2C2.361-0.012%2C2.681%20c0%2C0.261%2C0.176%2C0.565%2C0.672%2C0.47c3.88-1.295%2C6.678-4.956%2C6.678-9.273C21.774%2C6.843%2C17.397%2C2.468%2C11.999%2C2.468z%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-link {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M3.9%2012c0-1.71%201.39-3.1%203.1-3.1h4v-1.9h-4c-2.76%200-5%202.24-5%205s2.24%205%205%205h4v-1.9h-4c-1.71%200-3.1-1.39-3.1-3.1zm4.1%201h8v-2h-8v2zm9-6h-4v1.9h4c1.71%200%203.1%201.39%203.1%203.1s-1.39%203.1-3.1%203.1h-4v1.9h4c2.76%200%205-2.24%205-5s-2.24-5-5-5z%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-screenshot {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223.2%22%20fill%3D%22%23ffffff%22%2F%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M9%202l-1.83%202h-3.17c-1.1%200-2%20.9-2%202v12c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3%2015c-2.76%200-5-2.24-5-5s2.24-5%205-5%205%202.24%205%205-2.24%205-5%205z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-settings-light {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19.43%2012.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49%201c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25%200-.46.18-.49.42l-.38%202.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49%200-.61.22l-2%203.46c-.13.22-.07.49.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65c-.19.15-.24.42-.12.64l2%203.46c.12.22.39.3.61.22l2.49-1c.52.4%201.08.73%201.69.98l.38%202.65c.03.24.24.42.49.42h4c.25%200%20.46-.18.49-.42l.38-2.65c.61-.25%201.17-.59%201.69-.98l2.49%201c.23.09.49%200%20.61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43%202.52c-1.93%200-3.5-1.57-3.5-3.5s1.57-3.5%203.5-3.5%203.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-map {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%20%2F%3E%3Cpath%20d%3D%22M18%204h-12v2l6.5%206-6.5%206v2h12v-3h-7l5-5-5-5h7z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-rng {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%2C0h24v24H0V0z%22%20%2F%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M18%2C4H6C4.9%2C4%2C4%2C4.9%2C4%2C6v12c0%2C1.1%2C0.9%2C2%2C2%2C2h12c1.1%2C0%2C2-0.9%2C2-2V6C20%2C4.9%2C19.1%2C4%2C18%2C4z%20M18%2C18H6V6h12V18z%22%2F%3E%3Ccircle%20fill%3D%22%23ffffff%22%20stroke%3D%22%23ffffff%22%20stroke-miterlimit%3D%2210%22%20cx%3D%228.792%22%20cy%3D%228.792%22%20r%3D%220.792%22%2F%3E%3Ccircle%20fill%3D%22%23ffffff%22%20stroke%3D%22%23ffffff%22%20stroke-miterlimit%3D%2210%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%220.792%22%2F%3E%3Ccircle%20fill%3D%22%23ffffff%22%20stroke%3D%22%23ffffff%22%20stroke-miterlimit%3D%2210%22%20cx%3D%2215.208%22%20cy%3D%2215.208%22%20r%3D%220.792%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-search-criteria {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M3%2013h2v-2h-2v2zm0%204h2v-2h-2v2zm0-8h2v-2h-2v2zm4%204h14v-2h-14v2zm0%204h14v-2h-14v2zm0-10v2h14v-2h-14z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-renderer {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M21%2019v-14c0-1.1-.9-2-2-2h-14c-1.1%200-2%20.9-2%202v14c0%201.1.9%202%202%202h14c1.1%200%202-.9%202-2zm-12.5-5.5l2.5%203.01%203.5-4.51%204.5%206h-14l3.5-4.5z%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-colorizer {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M12%203c-4.97%200-9%204.03-9%209s4.03%209%209%209c.83%200%201.5-.67%201.5-1.5%200-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99%200-.83.67-1.5%201.5-1.5h1.77c2.76%200%205-2.24%205-5%200-4.42-4.03-8-9-8zm-5.5%209c-.83%200-1.5-.67-1.5-1.5s.67-1.5%201.5-1.5%201.5.67%201.5%201.5-.67%201.5-1.5%201.5zm3-4c-.83%200-1.5-.67-1.5-1.5s.67-1.5%201.5-1.5%201.5.67%201.5%201.5-.67%201.5-1.5%201.5zm5%200c-.83%200-1.5-.67-1.5-1.5s.67-1.5%201.5-1.5%201.5.67%201.5%201.5-.67%201.5-1.5%201.5zm3%204c-.83%200-1.5-.67-1.5-1.5s.67-1.5%201.5-1.5%201.5.67%201.5%201.5-.67%201.5-1.5%201.5z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-projection {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M10.585%209.17l-5.17-5.17-1.415%201.415%205.17%205.17%201.415-1.415zM14.5%204l2.045%202.045-12.545%2012.54%201.415%201.415%2012.545-12.545%202.040%202.045v-5.5h-5.5zM14.83%2013.415l-1.415%201.415%203.13%203.13-2.045%202.040h5.5v-5.5l-2.045%202.045-3.125-3.13z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-back {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20%2011h-12.17l5.59-5.59-1.42-1.41-8%208%208%208%201.41-1.41-5.58-5.59h12.17v-2z%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-close {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M19%206.415l-1.415-1.415-5.585%205.585-5.585-5.585-1.415%201.415%205.585%205.585-5.585%205.585%201.415%201.415%205.585-5.585%205.585%205.585%201.415-1.415-5.585-5.585z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-checked {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%203H5c-1.11%200-2%20.9-2%202v14c0%201.1.89%202%202%202h14c1.11%200%202-.9%202-2V5c0-1.1-.89-2-2-2zm-9%2014l-5-5%201.41-1.41L10%2014.17l7.59-7.59L19%208l-9%209z%22%20fill%3D%22%2340c4ff%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-unchecked {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%205v14H5V5h14m0-2H5c-1.1%200-2%20.9-2%202v14c0%201.1.9%202%202%202h14c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2z%22%20fill%3D%22%23616161%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-checked-disabled {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%203H5c-1.11%200-2%20.9-2%202v14c0%201.1.89%202%202%202h14c1.11%200%202-.9%202-2V5c0-1.1-.89-2-2-2zm-9%2014l-5-5%201.41-1.41L10%2014.17l7.59-7.59L19%208l-9%209z%22%20fill%3D%22%239e9e9e%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-unchecked-disabled {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%205v14H5V5h14m0-2H5c-1.1%200-2%20.9-2%202v14c0%201.1.9%202%202%202h14c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2z%22%20fill%3D%22%239e9e9e%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-expand-more {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M16.59%208.59l-4.59%204.58-4.59-4.58-1.41%201.41%206%206%206-6z%22%20fill%3D%22%23616161%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-expand-less {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%208l-6%206%201.41%201.41%204.59-4.58%204.59%204.58%201.41-1.41z%22%20fill%3D%22%23616161%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-right-arrow {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23616161%22%20d%3D%22M8.585%2016.46l4.585-4.585-4.585-4.585%201.415-1.415%206%206-6%206z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-delete {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23616161%22%20d%3D%22M6%2019c0%201.105%200.895%202%202%202h8c1.105%200%202-0.895%202-2v-12h-12v12zM19%204h-3.5l-1-1h-5l-1%201h-3.5v2h14v-2z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-more-horiz {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23616161%22%20d%3D%22M6%2010c-1.105%200-2%200.895-2%202s0.895%202%202%202%202-0.895%202-2-0.895-2-2-2zM18%2010c-1.105%200-2%200.895-2%202s0.895%202%202%202%202-0.895%202-2-0.895-2-2-2zM12%2010c-1.105%200-2%200.895-2%202s0.895%202%202%202%202-0.895%202-2-0.895-2-2-2z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-add {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23616161%22%20d%3D%22M12%202c-5.525%200-10%204.475-10%2010s4.475%2010%2010%2010%2010-4.475%2010-10-4.475-10-10-10zM17%2013h-4v4h-2v-4h-4v-2h4v-4h2v4h4v2z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon-pencil {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23616161%22%20d%3D%22M20.25%200c2.071%200%203.75%201.679%203.75%203.75%200%200.844-0.279%201.623-0.75%202.25l-1.5%201.5-5.25-5.25%201.5-1.5c0.627-0.471%201.406-0.75%202.25-0.75zM1.5%2017.25l-1.5%206.75%206.75-1.5%2013.875-13.875-5.25-5.25-13.875%2013.875zM16.771%208.521l-10.5%2010.5-1.293-1.293%2010.5-10.5%201.293%201.293z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat 0 0/24px 24px; }

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.button-spacing {
  display: inline-block;
  position: relative; }
  .button-spacing .button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .button-spacing .button * {
      cursor: pointer; }
    .button-spacing .button.raised {
      box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
      transition: box-shadow 0.1s linear;
      -o-transition: box-shadow 0.1s linear;
      -moz-transition: box-shadow 0.1s linear;
      -webkit-transition: box-shadow 0.1s linear; }
      .button-spacing .button.raised:active {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
      .button-spacing .button.raised.zeroclipboard-is-active {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
    .button-spacing .button .overlay {
      transition: background-color 0.1s linear;
      -o-transition: background-color 0.1s linear;
      -moz-transition: background-color 0.1s linear;
      -webkit-transition: background-color 0.1s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 9999; }
      .button-spacing .button .overlay.flat:focus, .button-spacing .button .overlay.flat:hover {
        background-color: rgba(0, 0, 0, 0.15); }
      .button-spacing .button .overlay.flat.zeroclipboard-is-hover {
        background-color: rgba(0, 0, 0, 0.15); }
      .button-spacing .button .overlay.flat:active {
        background-color: rgba(0, 0, 0, 0.3); }
      .button-spacing .button .overlay.flat.zeroclipboard-is-active {
        background-color: rgba(0, 0, 0, 0.3); }
      .button-spacing .button .overlay.raised:active {
        background-color: rgba(0, 0, 0, 0.15); }
      .button-spacing .button .overlay.raised.zeroclipboard-is-active {
        background-color: rgba(0, 0, 0, 0.15); }

.zeroclipboard-is-hover {
  cursor: pointer; }

.icon-button {
  height: 48px; }
  .icon-button.label .button {
    min-width: 64px; }
  .icon-button .button {
    background-color: #3f51b5;
    padding: 0 8px;
    margin: 6px 4px;
    height: 36px; }
    .icon-button .button .icon {
      margin-top: 6px;
      margin-bottom: 6px; }
    .icon-button .button label {
      height: 36px;
      display: inline-block;
      float: left;
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 12px; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.nav-drawer {
  display: inline-block;
  background-color: #ffffff;
  position: fixed;
  height: 100vh;
  width: 90vw;
  z-index: 10001;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  /* Prevent animation on initial load */ }
  @media only screen and (orientation: portrait) {
    .nav-drawer {
      width: calc(100vw - 56px);
      max-width: 280px; } }
  @media only screen and (orientation: landscape) {
    .nav-drawer {
      width: calc(100vw - 48px);
      max-width: 240px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .nav-drawer {
      width: calc(100vw - 64px);
      max-width: 320px; } }
  .nav-drawer.preload {
    animation: none !important;
    -o-animation: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important; }
  .nav-drawer.hidden {
    left: -320px;
    animation: hide-animation 0.2s;
    -o-animation: hide-animation 0.2s;
    -moz-animation: hide-animation 0.2s;
    -webkit-animation: hide-animation 0.2s; }
  .nav-drawer:not(.hidden) {
    left: 0;
    animation: show-animation 0.2s;
    -o-animation: show-animation 0.2s;
    -moz-animation: show-animation 0.2s;
    -webkit-animation: show-animation 0.2s; }

@keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }
  1% {
    opacity: 1; }
  100% {
    left: 0; } }

@-o-keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }
  1% {
    opacity: 1; }
  100% {
    left: 0; } }

@-moz-keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }
  1% {
    opacity: 1; }
  100% {
    left: 0; } }

@-webkit-keyframes show-animation {
  0% {
    opacity: 0;
    left: -320px; }
  1% {
    opacity: 1; }
  100% {
    left: 0; } }

@keyframes hide-animation {
  0% {
    left: 0; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -320px; } }

@-o-keyframes hide-animation {
  0% {
    left: 0; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -320px; } }

@-moz-keyframes hide-animation {
  0% {
    left: 0; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -320px; } }

@-webkit-keyframes hide-animation {
  0% {
    left: 0; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -320px; } }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.nav-drawer-button {
  background-color: #ffffff;
  display: block;
  position: relative;
  height: 48px;
  overflow: hidden;
  cursor: pointer; }
  .nav-drawer-button * {
    cursor: pointer; }
  .nav-drawer-button .button {
    background-color: #ffffff;
    position: relative;
    display: block;
    padding: 0 8px;
    margin: 6px 4px;
    height: 36px;
    line-height: 36px;
    border: 0 none;
    outline: 0; }
    .nav-drawer-button .button .icon {
      margin-top: 6px;
      margin-bottom: 6px;
      display: inline-block;
      float: left; }
    .nav-drawer-button .button label {
      line-height: 36px;
      height: 36px;
      display: inline-block;
      color: #000000;
      float: left;
      margin-left: 32px; }
      .nav-drawer-button .button label.font-active-route {
        color: #40c4ff; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.nav-drawer-divider {
  position: relative;
  display: block;
  background-color: #e0e0e0;
  border: 0 none;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px; }

.app-contents {
  position: relative;
  background-color: #e0e0e0;
  height: 100vh; }
  @media only screen and (orientation: portrait) {
    .app-contents {
      margin-top: 56px; } }
  @media only screen and (orientation: landscape) {
    .app-contents {
      margin-top: 48px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .app-contents {
      margin-top: 64px; } }

.scrollable-contents {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Negate margins from app-contents */ }
  @media only screen and (orientation: portrait) {
    .scrollable-contents {
      padding-bottom: 56px; } }
  @media only screen and (orientation: landscape) {
    .scrollable-contents {
      padding-bottom: 48px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .scrollable-contents {
      padding-bottom: 64px; } }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.paper {
  background-color: #ffffff;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  padding: 16px; }

.floating-action-button .button {
  position: relative;
  background-color: #40c4ff;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 16px; }

.floating-action-button .overlay {
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.floating-action-button.mini .button {
  width: 40px;
  height: 40px;
  padding: 8px;
  line-height: 40px; }

.viewport {
  height: 100vh;
  background-color: #e0e0e0; }
  .viewport canvas {
    background-color: #e0e0e0; }
  .viewport .attractor-stats {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px; }
  .viewport .search-progress-container {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -150px;
    pointer-events: none; }
    .viewport .search-progress-container.hidden {
      display: none; }
    .viewport .search-progress-container label {
      text-align: center;
      display: block;
      font-weight: 500;
      padding: 0; }
    .viewport .search-progress-container img {
      width: 128px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

.markdown h1 {
  line-height: 192px; }

.markdown h2 {
  line-height: 96px; }

.markdown h3 {
  line-height: 72px; }

.markdown h4 {
  line-height: 60px; }

.markdown h5 {
  line-height: 48px; }

.markdown h6 {
  line-height: 36px; }

.markdown p {
  margin-bottom: 13px; }

.markdown em {
  font-style: italic; }

.markdown img {
  border: 1px solid gray; }

.markdown ul {
  padding-left: 18px; }

.markdown li {
  list-style-type: circle; }

.markdown sup {
  font-size: smaller;
  vertical-align: super; }

.markdown pre * {
  font: 13px monospace; }

.markdown code * {
  font: 13px monospace; }

/** Highlight JS Theme **/
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.markdown code {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #333333; }

.markdown pre code {
  display: block;
  padding: 0.5em;
  margin-bottom: 13px;
  white-space: pre; }
  .markdown pre code .scrollable {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
  .markdown pre code .hljs-comment,
  .markdown pre code .hljs-meta {
    color: #969896; }
  .markdown pre code .hljs-string,
  .markdown pre code .hljs-variable,
  .markdown pre code .hljs-template-variable,
  .markdown pre code .hljs-strong,
  .markdown pre code .hljs-emphasis,
  .markdown pre code .hljs-quote {
    color: #df5000; }
  .markdown pre code .hljs-keyword,
  .markdown pre code .hljs-selector-tag,
  .markdown pre code .hljs-type {
    color: #a71d5d; }
  .markdown pre code .hljs-literal,
  .markdown pre code .hljs-symbol,
  .markdown pre code .hljs-bullet,
  .markdown pre code .hljs-attribute {
    color: #0086b3; }
  .markdown pre code .hljs-section,
  .markdown pre code .hljs-name {
    color: #63a35c; }
  .markdown pre code .hljs-tag {
    color: #333333; }
  .markdown pre code .hljs-title,
  .markdown pre code .hljs-attr,
  .markdown pre code .hljs-selector-id,
  .markdown pre code .hljs-selector-class,
  .markdown pre code .hljs-selector-attr,
  .markdown pre code .hljs-selector-pseudo {
    color: #795da3; }
  .markdown pre code .hljs-addition {
    color: #55a532;
    background-color: #eaffea; }
  .markdown pre code .hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec; }
  .markdown pre code .hljs-link {
    text-decoration: underline; }

.modal {
  position: fixed;
  z-index: 10002; }
  .modal .modal-background {
    position: fixed;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.settings-dialog {
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }
  .settings-dialog .contents {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  .settings-dialog .contents-container {
    overflow-x: hidden;
    overflow-y: hidden; }
  .settings-dialog .app-bar .reset-button {
    float: right; }
    .settings-dialog .app-bar .reset-button span {
      color: rgba(255, 255, 255, 0.87); }
  @media only screen and (orientation: portrait), only screen and (orientation: landscape) {
    .settings-dialog {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh; }
      .settings-dialog .app-bar {
        display: block;
        position: relative; }
      .settings-dialog .desktop-title-bar {
        display: none; }
      .settings-dialog .action-bar {
        display: none; }
      .settings-dialog .contents-container {
        display: inline;
        position: relative;
        height: 100vh;
        width: 100vw; }
      .settings-dialog .contents {
        display: inline;
        position: absolute;
        height: 100vh;
        width: 100vw;
        padding-bottom: 64px; }
        .settings-dialog .contents.after {
          left: 100vw; }
        .settings-dialog .contents.before {
          left: -100vw; }
        .settings-dialog .contents.slide-left {
          transition: margin-left 0.2s linear;
          -o-transition: margin-left 0.2s linear;
          -moz-transition: margin-left 0.2s linear;
          -webkit-transition: margin-left 0.2s linear;
          margin-left: -100vw; }
        .settings-dialog .contents.slide-right {
          transition: margin-left 0.2s linear;
          -o-transition: margin-left 0.2s linear;
          -moz-transition: margin-left 0.2s linear;
          -webkit-transition: margin-left 0.2s linear;
          margin-left: 100vw; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .settings-dialog {
      width: 320px;
      height: 400px;
      left: 50%;
      top: 50%;
      margin-left: -160px;
      margin-top: -200px; }
      .settings-dialog .app-bar {
        display: none; }
      .settings-dialog .contents-container {
        display: inline;
        position: absolute;
        width: 320px;
        height: 280px;
        top: 64px; }
      .settings-dialog .contents {
        display: inline;
        position: absolute;
        width: 320px;
        height: 280px; }
        .settings-dialog .contents.after {
          left: 320px; }
        .settings-dialog .contents.before {
          left: -320px; }
        .settings-dialog .contents.slide-left {
          transition: margin-left 0.2s linear;
          -o-transition: margin-left 0.2s linear;
          -moz-transition: margin-left 0.2s linear;
          -webkit-transition: margin-left 0.2s linear;
          margin-left: -320px; }
        .settings-dialog .contents.slide-right {
          transition: margin-left 0.2s linear;
          -o-transition: margin-left 0.2s linear;
          -moz-transition: margin-left 0.2s linear;
          -webkit-transition: margin-left 0.2s linear;
          margin-left: 320px; }
      .settings-dialog .desktop-title-bar {
        display: block;
        position: absolute;
        top: 0;
        width: 320px;
        height: 64px;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: none; }
      .settings-dialog .action-bar {
        display: block;
        position: absolute;
        bottom: 0;
        width: 320px;
        height: 56px;
        text-align: right;
        border-top: 1px solid #e0e0e0;
        box-shadow: none; }
        .settings-dialog .action-bar .button {
          padding-left: 8px;
          padding-right: 8px; } }

.settings-header {
  display: block;
  margin: 4px; }

.settings-choice {
  display: block; }
  .settings-choice .button {
    display: block;
    padding: 16px; }
  .settings-choice label {
    display: block; }

.z0 {
  box-shadow: none; }

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25); }

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.choice-picker {
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 300px;
  height: 360px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -180px; }
  .choice-picker .choice-button {
    display: block; }
    .choice-picker .choice-button .button {
      display: block;
      padding: 16px; }
    .choice-picker .choice-button label {
      display: block; }
  .choice-picker .selected {
    background-color: rgba(0, 0, 0, 0.12); }
    .choice-picker .selected label {
      font-weight: bold; }

.component-toggle .header {
  position: relative;
  display: block;
  height: 36px; }
  .component-toggle .header .button-spacing {
    display: block;
    z-index: 1; }
    .component-toggle .header .button-spacing .button {
      display: block;
      padding-left: 16px;
      padding-right: 16px;
      height: 36px; }
      .component-toggle .header .button-spacing .button .icon {
        position: relative;
        display: inline-block;
        margin-top: 6px;
        float: left; }
      .component-toggle .header .button-spacing .button label {
        position: relative;
        display: inline-block;
        line-height: 36px;
        float: left; }
  .component-toggle .header .toggle {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 0;
    z-index: 2; }

.component-panel {
  display: block;
  height: 56px;
  border-bottom: 1px solid #eeeeee; }
  .component-panel .button-spacing {
    display: block;
    height: 56px; }
    .component-panel .button-spacing .button {
      display: block;
      height: 56px; }
      .component-panel .button-spacing .button .main-panel {
        display: inline-block;
        height: 56px;
        padding: 10px;
        vertical-align: top;
        float: left; }
        .component-panel .button-spacing .button .main-panel label {
          display: block; }
      .component-panel .button-spacing .button .icon-panel {
        display: inline-block;
        height: 56px;
        float: left; }
        .component-panel .button-spacing .button .icon-panel .button-spacing {
          display: inline-block;
          margin: 8px;
          height: 40px; }
          .component-panel .button-spacing .button .icon-panel .button-spacing .button {
            display: inline-block;
            background: none;
            height: 40px; }
      .component-panel .button-spacing .button .arrow-panel {
        display: inline-block;
        height: 56px;
        float: right;
        padding-top: 16px; }
        .component-panel .button-spacing .button .arrow-panel.hide {
          display: none; }

.add-component-panel {
  display: block;
  height: 56px;
  border-bottom: 1px solid #eeeeee; }
  .add-component-panel .main-panel {
    display: inline-block;
    height: 56px;
    padding: 10px;
    vertical-align: top;
    float: left; }
    .add-component-panel .main-panel label {
      display: block; }
  .add-component-panel .icon-panel {
    display: inline-block;
    height: 56px;
    float: left; }
    .add-component-panel .icon-panel .button-spacing {
      display: inline-block;
      margin: 8px;
      height: 40px; }
      .add-component-panel .icon-panel .button-spacing .button {
        display: inline-block;
        background: none;
        height: 40px; }

.number-value-editor {
  margin-top: 16px; }
  .number-value-editor label {
    margin-left: 16px; }
  .number-value-editor .icon-slider {
    position: relative;
    display: block; }
    .number-value-editor .icon-slider .icon {
      position: absolute;
      top: 6px;
      left: 16px; }
    .number-value-editor .icon-slider .slider {
      margin-left: 40px; }
  .number-value-editor .binding-value {
    margin-right: 16px;
    text-align: right; }

.boolean-value-editor {
  display: block;
  height: 32px; }
  .boolean-value-editor label {
    display: inline-block;
    margin-left: 16px;
    line-height: 32px; }
  .boolean-value-editor .button {
    display: inline-block;
    margin-left: 16px;
    margin-top: 16px; }

.slider {
  position: relative;
  display: block;
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 17px; }
  .slider .slider-track {
    background-color: #e0e0e0;
    position: relative;
    display: block;
    height: 2px; }
    .slider .slider-track .slider-track-filled {
      background-color: #3f51b5;
      position: absolute;
      display: inline-block;
      height: 2px;
      width: 50%; }
  .slider .slider-thumb {
    position: absolute;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-left: -18px;
    left: 50%;
    margin-top: -17px; }
    .slider .slider-thumb .slider-outer-thumb {
      background-color: rgba(0, 0, 0, 0.13);
      position: absolute;
      display: block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      transform: scale(0.333);
      -o-transform: scale(0.333);
      -ms-transform: scale(0.333);
      -moz-transform: scale(0.333);
      -webkit-transform: scale(0.333); }
    .slider .slider-thumb .slider-inner-thumb {
      background-color: #3f51b5;
      position: absolute;
      display: block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      transform: scale(0.333);
      -o-transform: scale(0.333);
      -ms-transform: scale(0.333);
      -moz-transform: scale(0.333);
      -webkit-transform: scale(0.333); }
  .slider.enabled:focus .slider-track {
    background-color: #9e9e9e; }
  .slider.enabled:focus .slider-outer-thumb {
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1); }
  .slider.enabled:focus .slider-inner-thumb {
    transform: scale(0.333);
    -o-transform: scale(0.333);
    -ms-transform: scale(0.333);
    -moz-transform: scale(0.333);
    -webkit-transform: scale(0.333); }
  .slider.enabled:active .slider-track {
    background-color: #9e9e9e; }
  .slider.enabled:active .slider-outer-thumb {
    transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5); }
  .slider.enabled:active .slider-inner-thumb {
    transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5); }
  .slider.disabled .slider-track-filled {
    background-color: #e0e0e0; }
  .slider.disabled .slider-outer-thumb {
    background-color: #ffffff;
    transform: scale(0.333);
    -o-transform: scale(0.333);
    -ms-transform: scale(0.333);
    -moz-transform: scale(0.333);
    -webkit-transform: scale(0.333); }
  .slider.disabled .slider-inner-thumb {
    background-color: #e0e0e0;
    transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -webkit-transform: scale(0.2); }

.toggle-button .button {
  overflow: visible; }

.toggle {
  position: relative;
  display: inline-block; }
  .toggle .button {
    height: 36px;
    width: 52px;
    overflow: visible; }
    .toggle .button .track {
      display: inline-block;
      position: absolute;
      background-color: #9e9e9e;
      height: 16px;
      width: 36px;
      left: 8px;
      top: 10px;
      border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear; }
      .toggle .button .track.toggled {
        background-color: #80d8ff; }
    .toggle .button .thumb {
      display: inline-block;
      position: absolute;
      height: 24px;
      width: 24px;
      padding: 0;
      left: 4px;
      top: 6px;
      border-radius: 12px;
      -o-border-radius: 12px;
      -ms-border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear; }
      .toggle .button .thumb.toggled {
        background-color: #40c4ff;
        left: 24px; }

/* Pages */
.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.contents-paper {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  transition: 0.1s;
  -o-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s; }
  @media only screen and (orientation: portrait) {
    .contents-paper {
      width: 100vw; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px), only screen and (orientation: landscape) {
    .contents-paper {
      width: 70vw; } }

.bottom-paper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin-bottom: -104px;
  padding-right: 8px;
  height: 32px;
  line-height: 32px;
  transition: margin-bottom 0.25s;
  -o-transition: margin-bottom 0.25s;
  -moz-transition: margin-bottom 0.25s;
  -webkit-transition: margin-bottom 0.25s; }
  .bottom-paper.translate {
    margin-bottom: 0; }
  .bottom-paper .mini-button {
    float: right;
    margin-right: 8px;
    top: -36px; }
  .bottom-paper .search-button {
    float: right;
    margin-right: 8px; }
    @media only screen and (orientation: portrait) {
      .bottom-paper .search-button {
        top: -44px; } }
    @media only screen and (orientation: landscape) {
      .bottom-paper .search-button {
        top: -40px; } }
    @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
      .bottom-paper .search-button {
        top: -48px; } }
    .bottom-paper .search-button.cancel .button {
      background-color: #ff1744; }

.context-label {
  position: fixed;
  width: 156px;
  bottom: -16px;
  right: 184px;
  height: 16px;
  line-height: 16px;
  text-align: right;
  transition: margin-bottom 0.25s;
  -o-transition: margin-bottom 0.25s;
  -moz-transition: margin-bottom 0.25s;
  -webkit-transition: margin-bottom 0.25s; }
  .context-label.translate {
    bottom: 8px; }

.intro-paper {
  display: inline-block;
  position: absolute;
  width: 250px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -75px;
  text-align: center;
  transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; }
  .intro-paper.hidden {
    display: none; }
  .intro-paper.fade-out {
    opacity: 0; }
  .intro-paper .search-button {
    position: absolute;
    left: 97px;
    bottom: 16px;
    margin: 0;
    padding: 0;
    height: 56px;
    width: 56px; }

@media only screen and (orientation: portrait) {
  .viewport {
    margin-top: 56px; } }

@media only screen and (orientation: landscape) {
  .viewport {
    margin-top: 48px; } }

@media only screen and (min-width: 992px), only screen and (min-width: 768px) {
  .viewport {
    margin-top: 64px; } }

.copied .button {
  background-color: #3f51b5; }

.logistic-graph {
  height: 100%;
  padding: 0;
  margin: 0; }

.body {
  display: table;
  height: 100%;
  width: 100%; }
  @media only screen and (orientation: portrait) {
    .body {
      margin-top: -56px; } }
  @media only screen and (orientation: landscape) {
    .body {
      margin-top: -48px; } }
  @media only screen and (min-width: 992px), only screen and (min-width: 768px) {
    .body {
      margin-top: -64px; } }

.logistic-settings {
  display: table-row;
  height: 36px; }

.contents {
  display: table-row;
  height: auto; }

.logistic-setting {
  display: inline-block;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  height: 36px; }
  .logistic-setting .font-setting-value-label {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    float: left; }
  .logistic-setting .binding-value {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    float: left; }
  .logistic-setting .slider {
    display: inline-block;
    float: left;
    padding-left: 8px;
    padding-right: 8px; }
    .logistic-setting .slider.initial-value {
      width: 200px; }
    .logistic-setting .slider.iterations {
      width: 200px; }
    .logistic-setting .slider.constant {
      width: 240px; }

.graph {
  height: 100%;
  width: 100%; }
