@import "../variables/colors";
@import "../variables/shadows";
@import "../variables/mixins";

.button {
  display: inline-block;
  position: relative;

  .hit-area {
    display: inline-block;
    position: relative;
    border: 0 none;
    outline: 0;
    overflow: hidden;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &.raised {
      @include shadow(1);
      @include transition(box-shadow 0.1s linear);

      &:active {
        @include shadow(2);
      }
    }
  }
}
