@import "../variables/colors";
@import "../variables/shadows";
@import "../variables/mixins";

.button-spacing {
  display: inline-block;
  position: relative;

  .button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &.raised {
      @include shadow(1);
      @include transition(box-shadow 0.1s linear);

      &:active {
        @include shadow(2);
      }
    }

    .overlay {
      @include transition(background-color 0.1s linear);

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, 0.0);
      z-index:9999;

      &.flat {
        &:focus, &:hover {
          background-color:rgba(0, 0, 0, 0.15);
        }

        &:active {
          background-color:rgba(0, 0, 0, 0.3);
        }
      }

      &.raised {
        &:active {
          background-color:rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
