@import "../variables/icons";

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;

  &.icon-menu { background: url($icon-menu) no-repeat 0 0/24px 24px; }
  &.icon-home { background: url($icon-home) no-repeat 0 0/24px 24px; }
  &.icon-info-outline { background: url($icon-info-outline) no-repeat 0 0/24px 24px; }
  &.icon-search { background: url($icon-search) no-repeat 0 0/24px 24px; }
  &.icon-settings { background: url($icon-settings) no-repeat 0 0/24px 24px; }
  &.icon-github { background: url($icon-github) no-repeat 0 0/24px 24px; }
}

