@import "../variables/media-queries";
@import "../variables/shadows";
@import "../variables/colors";
@import "../variables/layers";
@import "../variables/mixins";

.nav-drawer {
  display: inline-block;
  background-color: $paper-color;
  position: fixed;
  height: 100vh;
  width: 90vw;
  z-index: $navDrawer;
  overflow-y: auto;

  @include shadow(1);

  @media #{$device-mobile-portrait} {
    width: calc(100vw - 56px);
    max-width: 280px;
  }

  @media #{$device-mobile-landscape} {
    width: calc(100vw - 48px);
    max-width: 240px;
  }

  @media #{$device-desktop}, #{$device-tablet} {
    width: calc(100vw - 64px);
    max-width: 320px;
  }

  /* Prevent animation on initial load */
  &.preload {
    @include animation(none !important);
  }

  &.hidden {
    left: -320px;
    @include animation(hide-animation 0.2s);
  }

  &:not(.hidden) {
    left: 0;
    @include animation(show-animation 0.2s);
  }
}

@include keyframes(show-animation) {
  0% {
    opacity: 0;
    left: -320px;
  }

  1% {
    opacity: 1;
  }

  100% {
    left: 0;
  }
}

@include keyframes(hide-animation) {
  0% {
    left: 0;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: -320px
  }

}
