@import "../variables/media-queries";

.scrollable-contents {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  /* Negate margins from app-contents */
  @media #{$device-mobile-portrait} {
    padding-bottom: 56px;
  }

  @media #{$device-mobile-landscape} {
    padding-bottom: 48px;
  }

  @media #{$device-desktop}, #{$device-tablet} {
    padding-bottom: 64px;
  }
}