@import "../variables/media-queries";
@import "../variables/shadows";
@import "../variables/layers";
@import "../variables/colors";

.settings-dialog {
  background-color: $paper-color;
  position: fixed;
  @include shadow(5);

  .settings-contents {
    overflow-x: hidden;
    overflow-y: auto;
  }

  @media #{$device-mobile-portrait}, #{$device-mobile-landscape} {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .app-bar {
      display: block;
      position: relative;
    }

    .desktop-title-bar {
      display: none;
    }

    .action-bar {
      display: none;
    }

    .settings-contents {
      display: block;
      position: relative;
      height: 100vh;
      padding-bottom: 64px;
    }
  }

  @media #{$device-desktop}, #{$device-tablet} {
    width: 320px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -200px;

    .app-bar {
      display: none;
    }

    .settings-contents {
      display: block;
      position: absolute;
      width: 320px;
      height: 280px;
      top: 64px;
    }

    .desktop-title-bar {
      display: block;
      position: absolute;
      top: 0;
      width: 320px;
      height: 64px;
      border-bottom: 1px solid $grey-300;
      @include shadow(0);
    }

    .action-bar {
      display: block;
      position: absolute;
      bottom: 0;
      width: 320px;
      height: 56px;
      text-align: right;
      border-top: 1px solid $grey-300;
      @include shadow(0);

      .button {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}