@import "../variables/media-queries";
@import "../variables/shadows";
@import "../variables/layers";
@import "../variables/colors";
@import "../variables/mixins";

.settings-dialog {
  background-color: $paper-color;
  position: fixed;
  @include shadow(5);

  .contents {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .contents-container {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .content-1 {
    background-color: palegreen;
  }

  .content-2 {
    background-color: palevioletred;
  }

  .content-3 {
    background-color: paleturquoise;
  }

  @media #{$device-mobile-portrait}, #{$device-mobile-landscape} {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .app-bar {
      display: block;
      position: relative;
    }

    .desktop-title-bar {
      display: none;
    }

    .action-bar {
      display: none;
    }

    .contents-container {
      display: inline;
      position: relative;
      height: 100vh;
      width: 100vw;
    }

    .contents {
      display: inline;
      position: absolute;
      height: 100vh;
      width: 100vw;
      padding-bottom: 64px;

      &.after {
        left: 100vw;
      }

      &.before {
        left: -100vw;
      }

      &.slide-left {
        @include transition(margin-left 0.2s linear);
        margin-left: -100vw;
      }

      &.slide-right {
        @include transition(margin-left 0.2s linear);
        margin-left: 100vw;
      }
    }
  }

  @media #{$device-desktop}, #{$device-tablet} {
    width: 320px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -200px;

    .app-bar {
      display: none;
    }

    .contents-container {
      display: inline;
      position: absolute;
      width: 320px;
      height: 280px;
      top: 64px;
    }

    .contents {
      display: inline;
      position: absolute;
      width: 320px;
      height: 280px;

      &.after {
        left: 320px;
      }

      &.before {
        left: -320px;
      }

      &.slide-left {
        @include transition(margin-left 0.2s linear);
        margin-left: -320px;
      }

      &.slide-right {
        @include transition(margin-left 0.2s linear);
        margin-left: 320px;
      }
    }

    .desktop-title-bar {
      display: block;
      position: absolute;
      top: 0;
      width: 320px;
      height: 64px;
      border-bottom: 1px solid $grey-300;
      @include shadow(0);
    }

    .action-bar {
      display: block;
      position: absolute;
      bottom: 0;
      width: 320px;
      height: 56px;
      text-align: right;
      border-top: 1px solid $grey-300;
      @include shadow(0);

      .button {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}