@import "../variables/colors";
@import "../variables/mixins";

.slider {
  position: relative;
  display: block;
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 17px;

  .slider-track {
    background-color: $grey-300;
    position: relative;
    display: block;
    height: 2px;

    .slider-track-filled {
      background-color: $primary-1-color;
      position: absolute;
      display: inline-block;
      height: 2px;
      width: 50%;
    }
  }

  .slider-thumb {
    position: absolute;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-left: -18px;
    left: 50%;
    margin-top: -17px;

    .slider-outer-thumb {
      background-color: rgba(0, 0, 0, 0.13);
      position: absolute;
      display: block;
      height: 36px;
      width: 36px;

      @include border-radius(50%);
      @include transition(all 0.1s linear);
      @include transform(scale(0.333));
    }

    .slider-inner-thumb {
      background-color: $primary-1-color;
      position: absolute;
      display: block;
      height: 36px;
      width: 36px;

      @include border-radius(50%);
      @include transition(all 0.1s linear);
      @include transform(scale(0.333));
    }
  }

  &.enabled {
    &:hover {
      .slider-track {
        background-color: $grey-500;
      }

      .slider-outer-thumb {
        @include transform(scale(1.0));
      }

      .slider-inner-thumb {
        @include transform(scale(0.333));
      }
    }

    &:active {
      .slider-track {
        background-color: $grey-500;
      }

      .slider-outer-thumb {
        @include transform(scale(0.5));
      }

      .slider-inner-thumb {
        @include transform(scale(0.5));
      }
    }
  }

  &.disabled {
    .slider-track-filled {
      background-color: $grey-300;
    }

    .slider-outer-thumb {
      background-color: $paper-color;
      @include transform(scale(0.333));
    }

    .slider-inner-thumb {
      background-color: $grey-300;
      @include transform(scale(0.2));
    }
  }
}