@import "../../variables/colors";
@import "../../variables/mixins";

.ripple {
  display: block;
  position: absolute;
  background-color: $primary-3-color;
  pointer-events: none;
  opacity: 0.7;
  width: 0;
  height: 0;

  @include border-radius(50%);
}