@mixin transform($transforms) {
  transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -moz-transform: $transforms;
  -webkit-transform: $transforms;
}

@mixin transition($transition...) {
  transition: $transition;
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

@mixin animation($animation) {
  animation: $animation;
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  };

  @-o-keyframes #{$name} {
    @content;
  };

  @-moz-keyframes #{$name} {
    @content;
  };

  @-webkit-keyframes #{$name} {
    @content;
  };
}