@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/media-queries";

.bottom-paper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin-bottom: -104px;
  padding-right: 64px;

  height: 32px;
  line-height: 32px;

  @include transition(margin-bottom 0.25s);
  &.translate {
    margin-bottom: 0;
  }

  .mini-button {
    float: right;
    margin-right: 8px;
    top: -36px;
  }
}

.context-label {
  position: fixed;
  width: 156px;
  bottom: -16px;
  right: 164px;

  height: 16px;
  line-height: 16px;
  text-align: right;

  @include transition(margin-bottom 0.25s);
  &.translate {
    bottom: 8px;
  }
}

.intro-paper {
  display: inline-block;
  position: absolute;
  width: 250px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -75px;
  text-align: center;

  &.hidden {
    display: none;
  }

  @include transition(opacity 0.5s);
  &.fade-out {
    opacity: 0;
  }
}

.search-button {
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin-bottom: -54px;
  margin-right: -32px;

  &.animated {
    @include transition(right 0.5s, bottom 0.5s, margin-right 0.5s, margin-bottom 0.5s);
  }

  &.translate {
    right: 0;
    bottom: 0;
    margin-right: 8px;

    @media #{$device-mobile-portrait} {
      margin-bottom: 56px;
    }

    @media #{$device-mobile-landscape} {
      margin-bottom: 48px;
    }

    @media #{$device-desktop}, #{$device-tablet} {
      margin-bottom: 64px;
    }
  }

  &.cancel {
    .button {
      background-color: $red-A400;
    }
  }
}

.viewport {
  @media #{$device-mobile-portrait} {
    margin-top: 56px;
  }

  @media #{$device-mobile-landscape} {
    margin-top: 48px;
  }

  @media #{$device-desktop}, #{$device-tablet} {
    margin-top: 64px;
  }
}

.copied {
  .button {
    background-color: $primary-1-color;
  }
}