@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/media-queries";

.bottom-paper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin-bottom: -104px;
  padding-right: 64px;

  height: 32px;
  line-height: 32px;

  @include transition(margin-bottom 0.25s);
  &.translate {
    margin-bottom: 0;
  }

  .mini-button {
    float: right;
    margin-right: 8px;
    top: -40px;
  }
}

.intro-paper {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;

  &.hidden {
    display: none;
  }

  @include transition(opacity 0.5s);
  &.fade-out {
    opacity: 0;
  }
}

.search-button {
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin-bottom: -88px;
  margin-right: -32px;

  &.animated {
    @include transition(right 0.5s, bottom 0.5s, margin-right 0.5s, margin-bottom 0.5s);
  }

  &.translate {
    right: 0;
    bottom: 0;
    margin-bottom: 72px;
    margin-right: 8px;
  }

  .cancel {
    background-color: $red-A400;
  }
}

.settings-buttons-tray {
  position: absolute;
  width: 40px;
  right: 72px;
  margin-bottom: 0;
  margin-right: 0;
  bottom: 72px;

  @include transition(height 0.5s);

  &.open {
    height: 264px;
    .floating-action-button {
      margin-bottom: 0;
      opacity: 1;
    }
  }

  &.closed {
    height: 40px;
    .floating-action-button {
      margin-bottom: -44px;
      opacity: 0;
    }
  }

  .floating-action-button {
    display: block;
    @include transition(margin-bottom 0.5s, opacity 0.5s);
  }
}

.viewport {
  @media #{$device-mobile-portrait} {
    margin-top: 56px;
  }

  @media #{$device-mobile-landscape} {
    margin-top: 48px;
  }

  @media #{$device-desktop}, #{$device-tablet} {
    margin-top: 64px;
  }
}