@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/media-queries";

.bottom-paper {
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin-bottom: -104px;
  padding-right: 8px;

  height: 32px;
  line-height: 32px;

  @include transition(margin-bottom 0.25s);
  &.translate {
    margin-bottom: 0;
  }

  .mini-button {
    float: right;
    margin-right: 8px;
    top: -36px;
  }

  .search-button {
    float: right;
    margin-right: 8px;

    @media #{$device-mobile-portrait} {
      top: -44px;
    }

    @media #{$device-mobile-landscape} {
      top: -40px;
    }

    @media #{$device-desktop}, #{$device-tablet} {
      top: -48px;
    }

    &.cancel {
      .button {
        background-color: $red-A400;
      }
    }
  }
}

.context-label {
  position: fixed;
  width: 156px;
  bottom: -16px;
  right: 184px;

  height: 16px;
  line-height: 16px;
  text-align: right;

  @include transition(margin-bottom 0.25s);
  &.translate {
    bottom: 8px;
  }
}

.intro-paper {
  display: inline-block;
  position: absolute;
  width: 250px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -75px;
  text-align: center;

  &.hidden {
    display: none;
  }

  @include transition(opacity 0.5s);
  &.fade-out {
    opacity: 0;
  }

  .search-button {
    position: absolute;
    left: 97px;
    bottom: 16px;
    margin: 0;
    padding: 0;
    height: 56px;
    width: 56px;
  }
}

.viewport {
  @media #{$device-mobile-portrait} {
    margin-top: 56px;
  }

  @media #{$device-mobile-landscape} {
    margin-top: 48px;
  }

  @media #{$device-desktop}, #{$device-tablet} {
    margin-top: 64px;
  }
}

.copied {
  .button {
    background-color: $primary-1-color;
  }
}