@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/media-queries";

.logistic-graph {
  height: 100%;
  padding: 0;
  margin: 0;
}

.body {
  display: table;
  height: 100%;
  width: 100%;
  @media #{$device-mobile-portrait} {
    margin-top: -56px;
  }

  @media #{$device-mobile-landscape} {
    margin-top: -48px;
  }

  @media #{$device-desktop}, #{$device-tablet} {
    margin-top: -64px;
  }
}

.logistic-settings {
  display: table-row;
  height: 36px;
}

.contents {
  display: table-row;
  height: auto;
}

.logistic-setting {
  display: inline-block;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  height: 36px;

  .font-setting-value-label {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    float: left;
  }

  .binding-value {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    float: left;
  }

  .slider {

    &.initial-value {
      width: 200px;
    }

    &.iterations {
      width: 200px;
    }

    &.constant {
      width: 240px;
    }

    display: inline-block;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.graph {
  height: 100%;
  width: 100%;
}